* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#geme {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    top: 70px;
    background-image: linear-gradient(to bottom, #c4baff, #fff);
    overflow: hidden;
}

#player {
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;
    top: 400px;
    left: 100px;
}

#block {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -100px;
    left: 100px;
    animation: movDown 1s infinite;
}

@keyframes movDown {
    0% {
        top: -100px;
    }

    100% {
        top: 100%;
    }
}

#scor {
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    font-size: larger;
    z-index: 1000;
}

@media screen and (max-width : 600px) {
    body {
        background-color: #5f4f4f;
        display: flex;
        flex-direction: row
    }

    #geme {
        width: 300px;
        height: 500px;
        border: 1px solid black;
        top: 0;
        margin: auto;
        position: relative;
        background-image: linear-gradient(to bottom, #3a17ff, #fff);
        overflow: hidden;
    }

    .btn {
        display: flex;
        width: 100%;
        height: 80px;
        background-color: #3a17ff;
        position: absolute;
        align-content: space-between;
        top: 70%;

    }

    .leftBnt {
        width: 20%;
        height: 100%;
        background-color: black;
        color: #fff;
        position: absolute;
        left: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rightBnt {
        width: 20%;
        height: 100%;
        background-color: #5f4f4f;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 60%;
    }


}